{% extends 'base.html' %}

{% load static %}

{% block title %} Home {% endblock title %}

{% block content %}

{% include 'banner.html' %}


<section class="blog-posts">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        {% for blog in blogs %}
                        <div class="col-lg-12">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="{{blog.banner.url}}" alt="">
                                </div>
                                <div class="down-content">
                                    <span>{{blog.category}}</span>
                                    <a href="#">
                                        <h4>{{blog.title}}</h4>
                                    </a>
                                    <ul class="post-info">
                                        <li><a href="#">{{blog.user.username}}</a></li>
                                        <li><a href="#">{{blog.created_date}}</a></li>
                                        <li><a href="#">{{blog.blog_comments.all.count}} comments</a></li>
                                    </ul>
                                    <p>Stand Blog is a free HTML CSS template for your CMS theme. You can easily adapt
                                        or customize it for any kind of CMS or website builder. You are allowed to use
                                        it for your business. You are NOT allowed to re-distribute the template ZIP file
                                        on any template collection site for the download purpose. <a rel="nofollow"
                                            href="https://templatemo.com/contact" target="_parent">Contact
                                            TemplateMo</a> for more info. Thank you.</p>
                                    <div class="post-options">
                                        <div class="row">
                                            <div class="col-6">
                                                <ul class="post-tags">
                                                    <li><i class="fa fa-tags"></i></li>
                                                    <li><a href="#">Beauty</a>,</li>
                                                    <li><a href="#">Nature</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-6">
                                                <ul class="post-share">
                                                    <li><i class="fa fa-share-alt"></i></li>
                                                    <li><a href="#">Facebook</a>,</li>
                                                    <li><a href="#"> Twitter</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-lg-12">
                            <div class="main-button">
                                <a href="blog.html">View All Posts</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sidebar -->
            {% include 'sidebar.html' %}
        </div>
    </div>
</section>

{% endblock content %}